<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	failOnRisky="true"
	failOnWarning="true">
	<testsuites>
		<testsuite name="schema-override-manager">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
