<?xml version="1.0"?>
<ruleset name="CF Forms">
	<description>Coding standards for CF Forms.</description>

	<rule ref="../phpcs.shared.xml"/>

	<file>cf-forms.php</file>
	<file>uninstall.php</file>
	<file>includes</file>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="cf-forms"/>
			</property>
		</properties>
	</rule>
</ruleset>
